<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>파이널프로젝트</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
<!--        &lt;!&ndash; Responsive navbar&ndash;&gt;-->
<!--        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">-->
<!--            <div class="container">-->
<!--                <a class="navbar-brand" href="#">차렷</a>-->
<!--                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>-->
<!--                <div class="collapse navbar-collapse" id="navbarSupportedContent">-->

<!--                </div>-->
<!--            </div>-->
<!--        </nav>-->

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->

        <h4 class="text-center mt-4">차렷</h4>
        <h6 class="text-center mb-4"></h6>

        <section class="search-sec">
            <div class="container">
            <form action='./post/' method="POST"> {% csrf_token %}
                <select name="table" class="form-control search-slt" style="width:300px;height:50px;">
                    <option>선택</option>
                    <option value="aa">서울</option>
                    <option value="ab">경기</option>
                </select>
                <select name="m_lcc" id="addressRegion1" class="form-control search-slt" style="width:300px;height:50px;"></select>
                <select name="m_mcc" id="addressDo1" class="form-control search-slt" style="width:300px;height:50px;"></select>
                <select name="m_scc" id="addressSiGunGu1" class="form-control search-slt" style="width:300px;height:50px;"></select>
                <button type="submit" class="btn btn-primary wrn-btn" value="전송">Search</button>
                <script language='javascript'>
                     $(function(){
                        areaSelectMaker("select[name=m_lcc]");
                    });

                    var areaSelectMaker = function(target){
                        if(target == null || $(target).length == 0){
                            console.warn("Unkwon Area Tag");
                            return;
                        }

                        var area = {
                            "소매" :{
                                "음/식료품소매" : [ "식료품점", "김치판매", "정육점", "닭집", "육류소매", "반찬가게", "유기농식품판매", "식자재판매", "어물상", "건어물상", "수산물소매", "청과물소매", "미곡상", "곡물소매", "건과류판매", "생수판매", "얼음가게", "우유판매", "식용유판매", "유과판매", "냉동식품판매", "두유판매", "드라이아이스판매", "제과재료판매" ],
                                "종합소매점" : [ "편의점", "수퍼마켓", "잡화점", "생활용품판매", "수입품판매점", "종합소매", "혼수전문점", "백화점", "면세백화점", "아케이드/쇼핑센터", "시장/종합상가", "조합/연금매장", "구판장/직판장", "어판장", "할인점" ],
                                "의복의류" : [ "일반의류", "캐쥬얼/스포츠의류", "여성의류전문점", "아동복판매", "맞춤양장/양장점", "셔츠/내의/속옷", "맞춤양복/양복점", "남성의류전문점", "한복/갈옷/민속옷", "가죽/모피의류", "예복/웨딩드레스", "청바지판매", "유니폼/맞춤복/단체복", "법복(승복)판매", "교복판매", "섬유/직물/주단", "특수복판매" ],
                                "가방/신발/액세서리" : [ "신발소매", "구두제화/캐주얼화", "기능성신발판매", "액세서리판매", "휴대폰튜닝", "양품점", "가발판매", "우산/우의판매", "가방/가죽제품소매", "재봉용품판매" ],
                                "애견/애완/동물" : [ "애견/애완/동물사육판매", "애완동물 미용실" ],
                                "운동/경기용품소매" : [ "운동/경기용품", "건강/헬스용품", "자전거판매", "낚시용품판매", "골프용품판매", "수영용품판매", "등산용품판매", "스키장비판매", "인라인스케이트판매", "볼링용품판매", "수상운동용품판매", "총포상" ],
                                "화장품소매" : [ "화장품판매점", "향수전문점" ],
                                "의약/의료품소매" : [ "의료용품소매", "보청기판매", "의족/의수판매", "건강보조기구판매", "의약품소매" ],
                                "자동차/자동차용품" : [ "자동차판매", "중고자동차판매", "카오디오전문", "타이어판매", "네비게이션판매", "자동차부품판매", "자동차장식품판매", "중고타이어판매", "수입자동차판매", "수입중고자동차판매", "자동차유리전문점" ]
                            },
                            "생활서비스" :{
                                "이/미용/건강" : [ "여성미용실", "발/네일케어", "비만/피부관리", "남성미용실" ],
                                "세탁/기사서비스" : [ "세탁소/빨래방", "신발세탁", "세탁대행", "방앗간/정미소", "청소/소독", "소파침대카펫트세탁", "솜틀집", "가죽모피세탁", "냉온수기소독/수리" ],
                                "사진" : [ "사진관", "상업사진", "스티커사진방" ],
                                "물품기기대여" : [ "가정용기구/기기임대", "오락/스포츠용품대여", "비디오/오디오테이프대여", "도서/만화대여", "도서/만화대여", "생활용품대여", "의류/한복대여", "물수건대여", "컴퓨터대여", "사무기기대여", "렌트카", "비디오카메라대여", "악기대여", "장식품대여", "연극공연/영화제작용품임대", "화환/화분대여", "물품대여종합" ],
                                "대중목욕탕/휴게" : [ "욕탕업-종합", "사우나/증기탕/온천", "목욕업-찜질방", "휴게텔" ],
                                "자동차/이륜차" : [ "자동차정비/카센타", "자전거판매/수리", "오토바이판매/수리", "세차장", "광택전문", "주차장운영" ],
                                "주유소/충전소" : [ "주유소", "차량가스충전소", "차량연료소매-종합" ],
                                "예식/의례/관혼상제" : [ "예식장/예식서비스", "제사음식", "폐백전문", "결혼상담소" ]
                            },
                            "부동산" :{
                                "부동산중개" : [ "부동산중개" ],
                                "분양" : [ "주택공급", "상가분양", "사무실분양", "건물분양-종합" ]
                            },
                            "관광/여가/오락" :{
                                "PC/오락/당구/볼링등" : [ "인터넷PC방", "비디오감상실", "당구장", "오락용사격장", "탁구장", "볼링장", "포켓볼장", "전자오락실", "기원" ],
                                "무도/유흥/가무" : [ "노래방", "나이트클럽", "극장식유흥주점", "무도유흥주점-종합", "한국식유흥주점", "무도장" ],
                                "연극/영화/극장" : [ "음악감상", "연극/음악/예술관련기타" ],
                                "스포츠/운동" : [ "실내야구연습장", "실외야구연습장", "실내스케이트장", "롤러스케이트장", "서바이벌게임장", "스케이트장", "실내낚시" ],
                                "요가/단전/마사지" : [ "요가/단식", "단전호흡", "체형미교실", "지압원", "단식원", "스포츠마사지", "안마시술소", "활기원" ],
                                "놀이/여가/취미" : [ "낚시터", "주말농장", "기타오락관련산업" ]
                            },
                            "숙박" : {
                                "모텔/여관/여인숙" : [ "모텔/여관/여인숙" ],
                                "캠프/별장/펜션" : [ "캠프/별장/펜션" ],
                                "민박/하숙" : [ "민박/하숙" ]
                            },
                            "스포츠" : {
                                "운영관리시설" : [ "운동경기협회", "프로스포츠경기운영", "프로야구", "프로축구", "프로골프", "기타경기후원업/경기단체", "기타운영설비" ],
                                "실내운동시설" : [ "체육관", "실내테니스장", "실내수영장", "복싱도장", "실내골프연습장", "헬스클럽", "스포츠센터", "킥복싱", "스커시장", "택견도장", "쿵후도장", "이종격투기", "기타실내운동시설" ],
                                "실외운동시설" : [ "야구장", "축구장", "스키장", "실외골프연습장", "골프장", "테니스장", "수영장", "승마장", "게이트볼장", "래프팅", "행글라이더", "수상스키", "인공암벽", "스킨스쿠버강습", "풋살경기장", "기타실외운동시설" ]
                            },
                            "음식" : {
                                "한식" : [ "한식/백반/한정식", "갈비/삼겹살", "곱창/양구이전문", "한정식전문", "해장국/감자탕", "돌솥/비빔밥전문점", "부대찌개/섞어찌개", "족발/보쌈전문", "설렁탕집", "쌈밥전문", "두부요리전문", "재첩국전문", "파전전문", "추어탕전문", "순두부전문", "보리밥전문", "버섯전문점", "황태전문", "냉면집", "기사식당", "기타고기요리" ],
                                "중식" : [ "중국음식/중국집", "탕수육전문점" ],
                                "일식/수산물" : [ "횟집", "음식점-일식", "음식점-초밥전문", "참치전문점", "해물찜/탕전문", "아구전문", "민물장어전문", "매운탕전문", "조개구이전문", "바닷가재/게요리전문", "갈치/생선구이", "낙지/오징어", "곰장어전문", "고등어전문", "굴요리전문", "게장전문", "홍어전문", "복전문", "수산물전문음식점-종합" ],
                                "분식" : [ "라면김밥분식", "국수/만두/칼국수", "떡볶이전문", "우동전문점", "스낵" ],
                                "닭/오리요리" : [ "삼계탕전문", "닭갈비전문", "닭도리탕전문", "찜닭전문점", "불닭전문", "옻닭전문", "토종닭전문", "후라이드/양념치킨", "오리고기전문", "닭내장/닭발요리" ],
                                "양식" : [ "정통양식/경양식", "돈가스전문점", "카레전문점", "스파게티전문점", "패밀리레스토랑", "바베큐전문", "기타전문서양음식점", "스테이크전문점" ],
                                "패스트푸드" : [ "피자전문", "도시락전문점", "핫도그", "패트스푸드", "샌드위치전문점", "도너츠전문", "아이스크림판매", "유산균아이스크림전문", "생과자점", "토스트전문" ],
                                "제과제빵떡케익" : [ "제과점", "케익전문점", "떡전문", "떡/한과집", "찐빵전문" ],
                                "유흥주점" : [ "호프/맥주", "소주방/포장마차", "꼬치구이전문점", "민속주점", "로바다야끼", "관광/유흥주점", "기타일반유흥주점", "빠/카페/스탠드빠", "락카페", "룸살롱/단란주점" ],
                                "별식/퓨전요리" : [ "죽전문점", "샤브샤브전문", "철판구이요리전문", "퓨전음식전문", "순대전문점", "징기스칸요리전문", "돌구이요리전문", "동남아음식전문점", "사철탕전문" ],
                                "커피점/카페" : [ "커피전문점/카페/다방", "생과일주스전문점", "보드게임카페", "사주카페", "전통찻집/인삼찻집", "애견카페" ],
                                "음식배달서비스" : [ "야식집", "국/찌개배달", "음식출장조달" ]
                            },
                            "학문/교육" : {
                                "학원-보습교습입시" : [ "학원-입시", "학원-편입", "학원-검정고시" ],
                                "학원-자격/국가고시" : [ "학원-간호조무사", "학원-건축토목기술", "학원-공인중개사", "학원-관광통역", "학원-국가고시", "학원-기계/금형기술", "학원-도배", "학원-보석감정", "학원-미용", "학원-자동차운전", "학원-자동차정비", "학원-전기기술", "학원-제과기술", "학원-중장비", "학원-항공기술", "학원-환경기사", "학원-국가고시", "학원-속기", "학원-이용", "학원-경찰" ],
                                "학원-어학" : [ "학원-외국어/어학", "학원-어린이영어" ],
                                "학원-음악미술무용" : [ "서예/서화/미술", "피아노/바이올린/기타", "학원-무용", "학원-국악" ],
                                "학원-컴퓨터" : [ "컴퓨터학원" ],
                                "학원-예능취미체육" : [ "학원-가요", "학원-기억법", "학원-꽂꽂이", "학원-자수/동양자수", "학원-레크리에이션", "학원-배우/탤런트", "학원-사교춤", "학원-사진", "학원-요리", "학원-주산암산부기속셈", "학원-지점토", "학원-펜글씨/한문", "학원-에어로빅", "학원-웅변", "학원-바둑", "학원-스포츠/재즈댄스", "학원-마술", "학원-서당", "태권도장", "검도도장", "유도장", "레크레이션지도/상담" ],
                                "유아교육" : [ "놀이방", "어린이집", "실내놀이터-유아", "블럭놀이방", "동화구연", "유아교육기관기타" ],
                                "학원기타" : [ "학원(종합)", "학원-모델", "운전연수전문", "학원-실내운전", "학원-역학", "학원-심리변론", "예절지도", "학원-말더듬", "비행훈련원", "학원-기타" ],
                                "도서관/독서실" : [ "독서실", "고시원", "이동도서관운영" ]
                                }
                        };

                        for(i=0; i<$(target).length; i++){
                            (function(z){
                                var a1 = $(target).eq(z);
                                var a2 = a1.next();
                                var a3 = a2.next();

                                //초기화
                                init(a1, true);

                                //권역 기본 생성
                                var areaKeys1 = Object.keys(area);
                                areaKeys1.forEach(function(Region){
                                    a1.append("<option value="+Region+">"+Region+"</option>");
                                });

                                //변경 이벤트
                                $(a1).on("change", function(){
                                    init($(this), false);
                                    var Region = $(this).val();
                                    var keys = Object.keys(area[Region]);
                                    keys.forEach(function(Do){
                                        a2.append("<option value="+Do+">"+Do+"</option>");
                                    });
                                });

                                $(a2).on("change", function(){
                                    a3.empty().append("<option value=''>선택</option>");
                                    var Region = a1.val();
                                    var Do = $(this).val();
                                    var keys = Object.keys(area[Region][Do]);
                                    keys.forEach(function(SiGunGu){
                                        a3.append("<option value="+area[Region][Do][SiGunGu]+">"+area[Region][Do][SiGunGu]+"</option>");
                                    });
                                });
                            })(i);

                            function init(t, first){
                                first ? t.empty().append("<option value=''>선택</option>") : "";
                                t.next().empty().append("<option value=''>선택</option>");
                                t.next().next().empty().append("<option value=''>선택</option>");
                            }
                        }
                    }
                </script>
            </form>
            </div>
        </section>

        <h4 class="text-center mt-5"></h4>
        <h6 class="text-center mb-4"></h6>

        <div id='map'>
            {{map|safe}}
        </div>
        <!-- Page content-->
        <div class="container">
            <div class="text-center mt-5">
                <h1></h1>
                <p class="lead"></p>
                <p></p>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js'%}"></script>
    </body>
</html>
