<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>DASHMIN - Bootstrap Admin Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Libraries Stylesheet -->
    <link href="static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="static/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <!-- Customized Bootstrap Stylesheet -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Template Stylesheet -->
    <link href="static/css/style1.css" rel="stylesheet">


    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/moment.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/simplebar.min.js"></script>
    <script src='static/js/daterangepicker.js'></script>
    <script src='static/js/jquery.stickOnScroll.js'></script>
    <script src="static/js/config.js"></script>
    <script src="static/js/d3.min.js"></script>
    <script src="static/js/topojson.min.js"></script>
    <script src="static/js/datamaps.all.min.js"></script>
    <script src="static/js/datamaps-zoomto.js"></script>
    <script src="static/js/datamaps.custom.js"></script>
    <script src="static/js/Chart.min.js"></script>
    <script>
        /* defind global options */
        Chart.defaults.global.defaultFontFamily = base.defaultFontFamily;
        Chart.defaults.global.defaultFontColor = colors.mutedColor;
    </script>
    <script src="static/js/gauge.min.js"></script>
    <script src="static/js/jquery.sparkline.min.js"></script>
    <script src="static/js/apexcharts.min.js"></script>
    <script src="static/js/apexcharts.custom.js"></script>
    <script src="static/js/apps.js"></script>


    <script type="text/javascript" src="{% static "fusioncharts/fusioncharts.js" %}"></script>
    <script type="text/javascript" src="{% static "fusioncharts/fusioncharts.charts.js" %}"></script>
    <script type="text/javascript" src="{% static "fusioncharts/themes/fusioncharts.theme.fusion.js" %}"></script>
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a href="index.html" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>상권분석</h3>
                </a>

                <div class="navbar-nav w-100">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>업종 현황 지도</a>
                        <div class="dropdown-menu bg-transparent border-0">
                          <form action='http://127.0.0.1:8000/post' method="POST" > {% csrf_token %}
                            <select name="table" class="form-control search-slt">
                                <option>선택</option>
                                <option value="aa">서울</option>
                                <option value="ab">경기</option>
                            </select>
                            <select name="m_lcc" id="addressRegion1" class="form-control search-slt"></select>
                            <select name="m_mcc" id="addressDo1" class="form-control search-slt"></select>
                            <select name="m_scc" id="addressSiGunGu1" class="form-control search-slt"></select>
                            <button type="submit" class="btn btn-primary wrn-btn" value="전송">검색</button>
                            <script language='javascript'>
                                 $(function(){
                                    areaSelectMaker("select[name=m_lcc]");
                                });

                                var areaSelectMaker = function(target){
                                    if(target == null || $(target).length == 0){
                                        console.warn("Unkwon Area Tag");
                                        return;
                                    }

                                    var area = {
                                        "소매" :{
                                            "음/식료품소매" : [ "식료품점", "김치판매", "정육점", "닭집", "육류소매", "반찬가게", "유기농식품판매", "식자재판매", "어물상", "건어물상", "수산물소매", "청과물소매", "미곡상", "곡물소매", "건과류판매", "생수판매", "얼음가게", "우유판매", "식용유판매", "유과판매", "냉동식품판매", "두유판매", "드라이아이스판매", "제과재료판매" ],
                                            "종합소매점" : [ "편의점", "수퍼마켓", "잡화점", "생활용품판매", "수입품판매점", "종합소매", "혼수전문점", "백화점", "면세백화점", "아케이드/쇼핑센터", "시장/종합상가", "조합/연금매장", "구판장/직판장", "어판장", "할인점" ],
                                            "의복의류" : [ "일반의류", "캐쥬얼/스포츠의류", "여성의류전문점", "아동복판매", "맞춤양장/양장점", "셔츠/내의/속옷", "맞춤양복/양복점", "남성의류전문점", "한복/갈옷/민속옷", "가죽/모피의류", "예복/웨딩드레스", "청바지판매", "유니폼/맞춤복/단체복", "법복(승복)판매", "교복판매", "섬유/직물/주단", "특수복판매" ],
                                            "가방/신발/액세서리" : [ "신발소매", "구두제화/캐주얼화", "기능성신발판매", "액세서리판매", "휴대폰튜닝", "양품점", "가발판매", "우산/우의판매", "가방/가죽제품소매", "재봉용품판매" ],
                                            "애견/애완/동물" : [ "애견/애완/동물사육판매", "애완동물 미용실" ],
                                            "운동/경기용품소매" : [ "운동/경기용품", "건강/헬스용품", "자전거판매", "낚시용품판매", "골프용품판매", "수영용품판매", "등산용품판매", "스키장비판매", "인라인스케이트판매", "볼링용품판매", "수상운동용품판매", "총포상" ],
                                            "화장품소매" : [ "화장품판매점", "향수전문점" ],
                                            "의약/의료품소매" : [ "의료용품소매", "보청기판매", "의족/의수판매", "건강보조기구판매", "의약품소매" ],
                                            "자동차/자동차용품" : [ "자동차판매", "중고자동차판매", "카오디오전문", "타이어판매", "네비게이션판매", "자동차부품판매", "자동차장식품판매", "중고타이어판매", "수입자동차판매", "수입중고자동차판매", "자동차유리전문점" ]
                                        },
                                        "생활서비스" :{
                                            "이/미용/건강" : [ "여성미용실", "발/네일케어", "비만/피부관리", "남성미용실" ],
                                            "세탁/기사서비스" : [ "세탁소/빨래방", "신발세탁", "세탁대행", "방앗간/정미소", "청소/소독", "소파침대카펫트세탁", "솜틀집", "가죽모피세탁", "냉온수기소독/수리" ],
                                            "사진" : [ "사진관", "상업사진", "스티커사진방" ],
                                            "물품기기대여" : [ "가정용기구/기기임대", "오락/스포츠용품대여", "비디오/오디오테이프대여", "도서/만화대여", "도서/만화대여", "생활용품대여", "의류/한복대여", "물수건대여", "컴퓨터대여", "사무기기대여", "렌트카", "비디오카메라대여", "악기대여", "장식품대여", "연극공연/영화제작용품임대", "화환/화분대여", "물품대여종합" ],
                                            "대중목욕탕/휴게" : [ "욕탕업-종합", "사우나/증기탕/온천", "목욕업-찜질방", "휴게텔" ],
                                            "자동차/이륜차" : [ "자동차정비/카센타", "자전거판매/수리", "오토바이판매/수리", "세차장", "광택전문", "주차장운영" ],
                                            "주유소/충전소" : [ "주유소", "차량가스충전소", "차량연료소매-종합" ],
                                            "예식/의례/관혼상제" : [ "예식장/예식서비스", "제사음식", "폐백전문", "결혼상담소" ]
                                        },
                                        "부동산" :{
                                            "부동산중개" : [ "부동산중개" ],
                                            "분양" : [ "주택공급", "상가분양", "사무실분양", "건물분양-종합" ]
                                        },
                                        "관광/여가/오락" :{
                                            "PC/오락/당구/볼링등" : [ "인터넷PC방", "비디오감상실", "당구장", "오락용사격장", "탁구장", "볼링장", "포켓볼장", "전자오락실", "기원" ],
                                            "무도/유흥/가무" : [ "노래방", "나이트클럽", "극장식유흥주점", "무도유흥주점-종합", "한국식유흥주점", "무도장" ],
                                            "연극/영화/극장" : [ "음악감상", "연극/음악/예술관련기타" ],
                                            "스포츠/운동" : [ "실내야구연습장", "실외야구연습장", "실내스케이트장", "롤러스케이트장", "서바이벌게임장", "스케이트장", "실내낚시" ],
                                            "요가/단전/마사지" : [ "요가/단식", "단전호흡", "체형미교실", "지압원", "단식원", "스포츠마사지", "안마시술소", "활기원" ],
                                            "놀이/여가/취미" : [ "낚시터", "주말농장", "기타오락관련산업" ]
                                        },
                                        "숙박" : {
                                            "모텔/여관/여인숙" : [ "모텔/여관/여인숙" ],
                                            "캠프/별장/펜션" : [ "캠프/별장/펜션" ],
                                            "민박/하숙" : [ "민박/하숙" ]
                                        },
                                        "스포츠" : {
                                            "운영관리시설" : [ "운동경기협회", "프로스포츠경기운영", "프로야구", "프로축구", "프로골프", "기타경기후원업/경기단체", "기타운영설비" ],
                                            "실내운동시설" : [ "체육관", "실내테니스장", "실내수영장", "복싱도장", "실내골프연습장", "헬스클럽", "스포츠센터", "킥복싱", "스커시장", "택견도장", "쿵후도장", "이종격투기", "기타실내운동시설" ],
                                            "실외운동시설" : [ "야구장", "축구장", "스키장", "실외골프연습장", "골프장", "테니스장", "수영장", "승마장", "게이트볼장", "래프팅", "행글라이더", "수상스키", "인공암벽", "스킨스쿠버강습", "풋살경기장", "기타실외운동시설" ]
                                        },
                                        "음식" : {
                                            "한식" : [ "한식/백반/한정식", "갈비/삼겹살", "곱창/양구이전문", "한정식전문", "해장국/감자탕", "돌솥/비빔밥전문점", "부대찌개/섞어찌개", "족발/보쌈전문", "설렁탕집", "쌈밥전문", "두부요리전문", "재첩국전문", "파전전문", "추어탕전문", "순두부전문", "보리밥전문", "버섯전문점", "황태전문", "냉면집", "기사식당", "기타고기요리" ],
                                            "중식" : [ "중국음식/중국집", "탕수육전문점" ],
                                            "일식/수산물" : [ "횟집", "음식점-일식", "음식점-초밥전문", "참치전문점", "해물찜/탕전문", "아구전문", "민물장어전문", "매운탕전문", "조개구이전문", "바닷가재/게요리전문", "갈치/생선구이", "낙지/오징어", "곰장어전문", "고등어전문", "굴요리전문", "게장전문", "홍어전문", "복전문", "수산물전문음식점-종합" ],
                                            "분식" : [ "라면김밥분식", "국수/만두/칼국수", "떡볶이전문", "우동전문점", "스낵" ],
                                            "닭/오리요리" : [ "삼계탕전문", "닭갈비전문", "닭도리탕전문", "찜닭전문점", "불닭전문", "옻닭전문", "토종닭전문", "후라이드/양념치킨", "오리고기전문", "닭내장/닭발요리" ],
                                            "양식" : [ "정통양식/경양식", "돈가스전문점", "카레전문점", "스파게티전문점", "패밀리레스토랑", "바베큐전문", "기타전문서양음식점", "스테이크전문점" ],
                                            "패스트푸드" : [ "피자전문", "도시락전문점", "핫도그", "패트스푸드", "샌드위치전문점", "도너츠전문", "아이스크림판매", "유산균아이스크림전문", "생과자점", "토스트전문" ],
                                            "제과제빵떡케익" : [ "제과점", "케익전문점", "떡전문", "떡/한과집", "찐빵전문" ],
                                            "유흥주점" : [ "호프/맥주", "소주방/포장마차", "꼬치구이전문점", "민속주점", "로바다야끼", "관광/유흥주점", "기타일반유흥주점", "빠/카페/스탠드빠", "락카페", "룸살롱/단란주점" ],
                                            "별식/퓨전요리" : [ "죽전문점", "샤브샤브전문", "철판구이요리전문", "퓨전음식전문", "순대전문점", "징기스칸요리전문", "돌구이요리전문", "동남아음식전문점", "사철탕전문" ],
                                            "커피점/카페" : [ "커피전문점/카페/다방", "생과일주스전문점", "보드게임카페", "사주카페", "전통찻집/인삼찻집", "애견카페" ],
                                            "음식배달서비스" : [ "야식집", "국/찌개배달", "음식출장조달" ]
                                        },
                                        "학문/교육" : {
                                            "학원-보습교습입시" : [ "학원-입시", "학원-편입", "학원-검정고시" ],
                                            "학원-자격/국가고시" : [ "학원-간호조무사", "학원-건축토목기술", "학원-공인중개사", "학원-관광통역", "학원-국가고시", "학원-기계/금형기술", "학원-도배", "학원-보석감정", "학원-미용", "학원-자동차운전", "학원-자동차정비", "학원-전기기술", "학원-제과기술", "학원-중장비", "학원-항공기술", "학원-환경기사", "학원-국가고시", "학원-속기", "학원-이용", "학원-경찰" ],
                                            "학원-어학" : [ "학원-외국어/어학", "학원-어린이영어" ],
                                            "학원-음악미술무용" : [ "서예/서화/미술", "피아노/바이올린/기타", "학원-무용", "학원-국악" ],
                                            "학원-컴퓨터" : [ "컴퓨터학원" ],
                                            "학원-예능취미체육" : [ "학원-가요", "학원-기억법", "학원-꽂꽂이", "학원-자수/동양자수", "학원-레크리에이션", "학원-배우/탤런트", "학원-사교춤", "학원-사진", "학원-요리", "학원-주산암산부기속셈", "학원-지점토", "학원-펜글씨/한문", "학원-에어로빅", "학원-웅변", "학원-바둑", "학원-스포츠/재즈댄스", "학원-마술", "학원-서당", "태권도장", "검도도장", "유도장", "레크레이션지도/상담" ],
                                            "유아교육" : [ "놀이방", "어린이집", "실내놀이터-유아", "블럭놀이방", "동화구연", "유아교육기관기타" ],
                                            "학원기타" : [ "학원(종합)", "학원-모델", "운전연수전문", "학원-실내운전", "학원-역학", "학원-심리변론", "예절지도", "학원-말더듬", "비행훈련원", "학원-기타" ],
                                            "도서관/독서실" : [ "독서실", "고시원", "이동도서관운영" ]
                                            }
                                    };

                                    for(i=0; i<$(target).length; i++){
                                        (function(z){
                                            var a1 = $(target).eq(z);
                                            var a2 = a1.next();
                                            var a3 = a2.next();

                                            //초기화
                                            init(a1, true);

                                            //권역 기본 생성
                                            var areaKeys1 = Object.keys(area);
                                            areaKeys1.forEach(function(Region){
                                                a1.append("<option value="+Region+">"+Region+"</option>");
                                            });

                                            //변경 이벤트
                                            $(a1).on("change", function(){
                                                init($(this), false);
                                                var Region = $(this).val();
                                                var keys = Object.keys(area[Region]);
                                                keys.forEach(function(Do){
                                                    a2.append("<option value="+Do+">"+Do+"</option>");
                                                });
                                            });

                                            $(a2).on("change", function(){
                                                a3.empty().append("<option value=''>선택</option>");
                                                var Region = a1.val();
                                                var Do = $(this).val();
                                                var keys = Object.keys(area[Region][Do]);
                                                keys.forEach(function(SiGunGu){
                                                    a3.append("<option value="+area[Region][Do][SiGunGu]+">"+area[Region][Do][SiGunGu]+"</option>");
                                                });
                                            });
                                        })(i);

                                        function init(t, first){
                                            first ? t.empty().append("<option value=''>선택</option>") : "";
                                            t.next().empty().append("<option value=''>선택</option>");
                                            t.next().next().empty().append("<option value=''>선택</option>");
                                        }
                                    }
                                }
                            </script>
                          </form>
<!--                            <a href="button.html" class="dropdown-item">Buttons</a>-->
<!--                            <a href="typography.html" class="dropdown-item">Typography</a>-->
<!--                            <a href="element.html" class="dropdown-item">Other Elements</a>-->
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>분석 결과</a>
                        <div class="dropdown-menu bg-transparent border-0">
                             <form action='http://127.0.0.1:8000/chart' method="POST" > {% csrf_token %}
                                <select name="si" id="addressRegion2" class="form-control search-slt"></select>
                                <select name="gu" id="addressDo2" class="form-control search-slt"></select>
                                <select name="dong" id="addressSiGunGu2" class="form-control search-slt"></select>
                                <button type="submit" class="btn btn-primary wrn-btn" value="전송">검색</button>
                                <script language='javascript'>
                                $(function(){
                                    areaSelectMaker2("select[name=si]");
                                });

                                var areaSelectMaker2 = function(target1){
                                    if(target1 == null || $(target1).length == 0){
                                        console.warn("Unkwon Area1 Tag");
                                        return;
                                    }

                                        var area2 = {
                                            "서울특별시" :{
                                                "강남구" : [ "개포1동", "개포2동", "개포4동", "논현1동", "논현2동", "대치1동", "대치2동", "대치4동", "도곡1동", "도곡2동", "삼성1동", "삼성2동", "세곡동", "수서동", "신사동", "압구정동", "역삼1동", "역삼2동", "일원1동", "일원2동", "일원본동", "청담동"],
                                                "강동구" : [ "강일동", "고덕1동", "고덕2동", "길동", "둔촌1동", "둔촌2동", "명일1동", "명일2동", "상일1동", "상일2동", "성내1동", "성내2동", "성내3동", "암사1동", "암사2동", "암사3동", "천호1동", "천호2동", "천호3동"],
                                                "강북구" : [ "미아동", "번1동", "번2동", "번3동", "삼각산동", "삼양동", "송중동", "송천동", "수유1동", "수유2동", "수유3동", "우이동", "인수동"],
                                                "강서구" : [ "가양1동", "가양2동", "가양3동", "공항동", "등촌1동", "등촌2동", "등촌3동", "발산1동", "방화1동", "방화2동", "방화3동", "염창동", "우장산동", "화곡1동", "화곡2동", "화곡3동", "화곡4동", "화곡6동", "화곡8동", "화곡본동"],
                                                "관악구" : [ "낙성대동", "난곡동", "남현동", "대학동", "미성동", "보라매동", "삼성동", "서림동", "서원동", "성현동", "신림동", "신사동", "신원동", "은천동", "인헌동", "조원동", "중앙동", "청룡동", "청림동", "행운동"],
                                                "광진구" : [ "광장동", "구의1동", "구의2동", "구의3동", "군자동", "능동", "자양1동", "자양2동", "자양3동", "자양4동", "중곡1동", "중곡2동", "중곡3동", "중곡4동", "화양동"],
                                                "구로구" : [ "가리봉동", "개봉1동", "개봉2동", "개봉3동", "고척1동", "고척2동", "구로1동", "구로2동", "구로3동", "구로4동", "구로5동", "수궁동", "신도림동", "오류1동", "오류2동", "항동"],
                                                "금천구" : [ "가산동", "독산1동", "독산2동", "독산3동", "독산4동", "시흥1동", "시흥2동", "시흥3동", "시흥4동", "시흥5동"],
                                                "노원구" : [ "공릉1동", "공릉2동", "상계1동", "상계2동", "상계3.4동", "상계5동", "상계6.7동", "상계8동", "상계9동", "상계10동", "월계1동", "월계2동", "월계3동", "중계1동", "중계2.3동", "중계4동", "중계본동", "하계1동", "하계2동"],
                                                "도봉구" : [ "도봉1동", "도봉2동", "방학1동", "방학2동", "방학3동", "쌍문1동", "쌍문2동", "쌍문3동", "쌍문4동", "창1동", "창2동", "창3동", "창4동", "창5동"],
                                                "동대문구" : [ "답십리1동", "답십리2동", "용신동", "이문1동", "이문2동", "장안1동", "장안2동", "전농1동", "전농2동", "제기동", "청량리동", "화기동", "휘경1동", "휘경2동"],
                                                "동작구" : [ "노량진1동", "노량진2동", "대방동", "사당1동", "사당2동", "사당3동", "사당4동", "사당5동", "상도1동", "상도2동", "상도3동", "상도4동", "신대방1동", "신대방2동", "흑석동"],
                                                "마포구" : [ "공덕동", "대흥동", "도화동", "망원1동", "망원2동", "상암동", "서강동", "서교동", "성산1동", "성산2동", "신수동", "아현동", "연남동", "염리동", "용강동", "합정동"],
                                                "서대문구" : [ "남가좌1동", "남가좌2동", "북가좌1동", "북가좌2동", "북아현동", "신촌동", "연희동", "천연동", "충현동", "홍은1동", "홍은2동", "홍제1동", "홍제2동", "홍제3동"],
                                                "서초구" : [ "내곡동", "반포1동", "반포2동", "반포3동", "반포4동", "반포본동", "방배1동", "방배2동", "방배3동", "방배4동", "방배본동", "서초1동", "서초2동", "서초3동", "서초4동", "양재1동", "양재2동", "잠원동"],
                                                "성동구" : [ "금호동1가동", "금호동2.3가동", "금호동4가", "마장동", "사근동", "성수1가1동", "성수1가2동", "성수2가1동", "성수2가3동", "송정동", "약수동", "왕십리2동", "왕십리도선동", "용답동", "응봉동", "행당1동", "행당2동"],
                                                "성북구" : [ "길음1동", "길음2동", "돈암1동", "돈암2동", "동선동", "보문동", "삼선동", "석관동", "성북동", "안암동", "월곡1동", "월곡2동", "장위1동", "장위2동", "장위3동", "정릉1동", "정릉2동", "정릉3동", "정릉4동", "종암동"],
                                                "송파구" : [ "가락1동", "가락2동", "가락본동", "거여1동", "거여2동", "마천1동", "마천2동", "문정1동", "문정2동", "방이1동", "방이2동", "삼전동", "석촌동", "송파1동", "송파2동", "오금동", "오륜동", "위례동", "잠실2동", "잠실3동", "잠실4동", "잠실6동", "잠실7동", "잠실본동", "장지동", "풍납1동", "풍납2동"],
                                                "양천구" : [ "목1동", "목2동", "목3동", "목4동", "목5동", "신월1동", "신월2동", "신월3동", "신월4동", "신월5동", "신월6동", "신월7동", "신정1동", "신정2동", "신정3동", "신정4동", "신정6동", "신정7동"],
                                                "영등포구" : [ "당산1동", "당산2동", "대림1동", "대림2동", "대림3동", "도림동", "문래동", "신길1동", "신길3동", "신길4동", "신길5동", "신길6동", "신길7동", "양평1동", "양평2동", "여의동", "영등포동", "영등포본동"],
                                                "용산구" : [ "남영동", "보광동", "서빙고동", "용문동", "용산2가동", "원효로1동", "원효로2동", "이촌1동", "이촌2동", "이태원1동", "이태원2동", "청파동", "한강로동", "한남동", "효창동", "후암동"],
                                                "은평구" : [ "갈현1동", "갈현2동", "구산동", "녹번동", "대조동", "불광1동", "불광2동", "수색동", "신사1동", "신사2동", "역촌동", "응암1동", "응암2동", "응암3동", "중산동", "진관동"],
                                                "종로구" : [ "가회동", "교남동", "무악동", "부암동", "사직동", "삼청동", "숭인1동", "숭인2동", "이화동", "종로1.2.3.4가", "종로5·6가동", "창신1동", "창신2동", "창신3동", "청운효자동", "평창동", "혜화동"],
                                                "중구" : [ "광희동", "다산동", "동화동", "명동", "소공동", "신당5동", "신당동", "약수동", "을지로동", "장충동", "중림동", "청구동", "필동", "황학동", "회현동"],
                                                "중랑구" : [ "망우동3동", "망우본동", "면목2동", "면목3.8동", "면목4동", "면목5동", "면목7동", "면목본동", "묵1동", "묵2동", "상봉1동", "상봉2동", "신내1동", "신내2동", "중화1동", "중화2동"]
                                            },


                                      };
                                        for(j=0; j<$(target1).length; j++){
                                            (function(q){
                                                var b1 = $(target1).eq(q);
                                                var b2 = b1.next();
                                                var b3 = b2.next();

                                                //초기화
                                                init(b1, true);

                                                //권역 기본 생성
                                                var areaKeys2 = Object.keys(area2);
                                                areaKeys2.forEach(function(Region2){
                                                    b1.append("<option value="+Region2+">"+Region2+"</option>");
                                                });

                                                //변경 이벤트
                                                $(b1).on("change", function(){
                                                    init($(this), false);
                                                    var Region2 = $(this).val();
                                                    var keys2 = Object.keys(area2[Region2]);
                                                    keys2.forEach(function(Do2){
                                                        b2.append("<option value="+Do2+">"+Do2+"</option>");
                                                    });
                                                });

                                                $(b2).on("change", function(){
                                                    b3.empty().append("<option value=''>선택</option>");
                                                    var Region2 = b1.val();
                                                    var Do2 = $(this).val();
                                                    var keys2 = Object.keys(area2[Region2][Do2]);
                                                    keys2.forEach(function(SiGunGu2){
                                                        b3.append("<option value="+area2[Region2][Do2][SiGunGu2]+">"+area2[Region2][Do2][SiGunGu2]+"</option>");
                                                    });
                                                });
                                            })(j);

                                            function init(r, first){
                                                first ? r.empty().append("<option value=''>선택</option>") : "";
                                                r.next().empty().append("<option value=''>선택</option>");
                                                r.next().next().empty().append("<option value=''>선택</option>");
                                            }
                                        }
                                    }
                                </script>
                             </form>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <form class="d-none d-md-flex ms-4">
                    <input class="form-control border-0" type="search" placeholder="Search">
                </form>
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-envelope me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">{{gumae}}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="static/assets/img/Doraemon.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all message</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-bell me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Notificatin</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Profile updated</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">New user added</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Password changed</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all notifications</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <span class="d-none d-lg-inline-flex">dfsdfad</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">My Profile</a>
                            <a href="#" class="dropdown-item">Settings</a>
                            <a href="#" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->


            <!-- Chart Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <h4 class="mb-4">분석지역 : <strong style="color:deeppink;">{{apt_dong}}</strong></h4>
                        <h4 class="mb-4"><strong style="color:dodgerblue;">인구 분석</strong></h4>
                        <div style="font-family: 'Helvetica Neue', Arial; font-size: 16px">
                        <h3>{{ chartTitle|safe }}</h3>
                        <div id="chart-1">{{ output|safe }}</div>
                        <br/>
                    </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <div style="font-family: 'Helvetica Neue', Arial; font-size: 16px">
                        <h3>{{ chartTitle|safe }}</h3>
                        <div id="choi-2">{{ output6|safe }}</div>
                        <br/>
                        </div>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div style="font-family: 'Helvetica Neue', Arial; font-size: 16px">
                        <h3>{{ chartTitle|safe }}</h3>
                        <div id="park-2">{{ output2|safe }}</div>
                        <br/>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div style="font-family: 'Helvetica Neue', Arial; font-size: 16px">
                        <h3>{{ chartTitle|safe }}</h3>
                        <div id="park-3">{{ output3|safe }}</div>
                        <br/>
                        </div>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <br/>
                        <br/>
                        <h4 class="mb-4"><strong style="color:dodgerblue;">가구 현황 분석</strong></h4>
                        <div style="font-family: 'Helvetica Neue', Arial; font-size: 16px">
                        <h3>{{ chartTitle|safe }}</h3>
                        <div id="chart-2">{{ output5|safe }}</div>
                        <br/>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <div style="font-family: 'Helvetica Neue', Arial; font-size: 16px">
                        <h3>{{ chartTitle|safe }}</h3>
                        <div id="min-1">{{ output4|safe }}</div>
                        <br/>
                        </div>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <br/>
                        <br/>
                        <h4 class="mb-4"><strong style="color:dodgerblue;">운영/폐업 분석</strong></h4>
                        <div style="font-family: 'Helvetica Neue', Arial; font-size: 16px">
                        <h3>{{ chartTitle|safe }}</h3>
                        <div id="choi-3">{{ safe1|safe }}</div>
                        <br/>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <div style="font-family: 'Helvetica Neue', Arial; font-size: 16px">
                        <h3>{{ chartTitle|safe }}</h3>
                        <div id="choi-4">{{ close1|safe }}</div>
                        <br/>
                        </div>
                    </div>
                </div>

                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <h4 class="mb-4"><strong style="color:deeppink;">{{apt_dong}}</strong><strong style="color:dodgerblue;"> 평가 종합</strong></h4>
                        <h5>분석영역의 상권등급은 총 5 등급 중  등급 입니다.</h5>
                        <br/>
                        <h2 class="mb-4"><strong style="color:black;">{{all_sum}}점</strong></h2>
                        <h6><strong style="color:gray;">1등급에 가까울수록 상권이 활성화 되어있음을 의미</strong></h6>
                        <h6><strong style="color:gray;">업종경기와 주변 집객시설, 교통, 여건을 고려한 결과</strong></h6>
                        </br>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                    </div>
                </div>
                    <div class="col-12">
                        <div class="bg-light rounded h-100 p-4">
                        <div class="table-responsive">
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">접근성</th>
                                <th scope="col">안정성</th>
                                <th scope="col">영업력</th>
                                <th scope="col">구매력</th>
                                <th scope="col">집객력</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>{{sang1}}</td>
                                <td>{{score_sum}}</td>
                                <td>{{M_score3}}</td>
                                <td>{{M_score5}}</td>
                                <td>{{J_score5}}</td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                <div class="row g-4">
                    <div class="col-sm-12">
                        </br>
                        <h4><strong style="color:red;">도움말</strong></h4>
                        <h6>상권 내 음식, 소매, 서비스업의 전반적인 업종경기와 상권의 인구수, 교통시설, 집객시설 등을 종합하여 산출한 등급으로서,</h6>
                        <h6>점수가 1등급에 가까울수록 상권이 활성화되어 있음을 의미(1~5등급)</h6>
                        <h5><strong style="color:gray;">1등급 : 70점이상 - 2등급 : 57.5~70 - 3등급 : 45~57.5 - 4등급 : 32.5~45 - 5등급 : 32.5미만</strong></h5>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-5">
                        <br/>
                        <br/>
                        <div style="font-family: 'Helvetica Neue', Arial; font-size: 16px">
                        <h3>{{ chartTitle|safe }}</h3>
                        <div id="choi-5">{{ rader_1|safe }}</div>
                        <br/>
                        </div>
                        <br/>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <h5>접근성 <strong style="color:green;"><font size="6">{{sang1}}</font></strong>점</h5>
                        <p class="card-category">(20점)</p>
                        </br>
                        <p class="card-category"><strong><font size="3">상권별 점수</font></strong> : <strong style="color:orangered;"><font size="5">{{score}}</font></strong>점(10점) <font size="2">선택지역의 상권별 점수</font></p>
                        <p class="card-category"><strong><font size="3">버스 이용자 수</font></strong> : <strong style="color:orangered;"><font size="5">{{transport}}</font></strong>점(5점) <font size="2">선택지역 내 하루평균 버스 이용자 수</font></p>
                        <p class="card-category"><strong><font size="3">지하철 이용자 수</font></strong> : <strong style="color:orangered;"><font size="5">{{subway}}</font></strong>점(5점) <font size="2">선택지역 내 하루평균 지하철 이용자 수</font></p>
                        <br/>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-5">
                        <br/>
                        <br/>
                        <div style="font-family: 'Helvetica Neue', Arial; font-size: 16px">
                        <h3>{{ chartTitle|safe }}</h3>
                        <div id="minn-2">{{ output7|safe }}</div>
                        <br/>
                        </div>
                        <br/>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <h5>집객력 <strong style="color:green;"><font size="6">{{J_score5}}</font></strong>점</h5>
                        <p class="card-category">(20점)</p>
                        </br>
                        <p class="card-category"><strong><font size="3">유동인구</font></strong> : <strong style="color:orangered;"><font size="5">{{J_score1}}</font></strong>점(10점) <font size="2">선택지역 내 면적당 유동인구 수</font></p>
                        <p class="card-category"><strong><font size="3">배후 주거인구</font></strong> : <strong style="color:orangered;"><font size="5">{{J_score2}}</font></strong>점(5점) <font size="2">선택지역 내 면적당 주거인구 수</font></p>
                        <p class="card-category"><strong><font size="3">배후 직장인구</font></strong> : <strong style="color:orangered;"><font size="5">{{J_score3}}</font></strong>점(5점) <font size="2">선택지역 내 면적당 직장인구 수</font></p>
                        <br/>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-5">
                        <br/>
                        <br/>
                        <div style="font-family: 'Helvetica Neue', Arial; font-size: 16px">
                        <h3>{{ chartTitle|safe }}</h3>
                        <div id="minn-1">{{ output8|safe }}</div>
                        <br/>
                        </div>
                        <br/>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <br/>
                        <br/>
                        <h5>구매력 <strong style="color:green;"><font size="6">{{M_score5}}</font></strong>점</h5>
                        <p class="card-category">(20점)</p>
                        </br>
                        <p class="card-category"><strong><font size="3">상권매출규모</font></strong> : <strong style="color:orangered;"><font size="5">{{M_score1}}</font></strong>점(10점) <font size="2">선택지역 내 면적당 매출액</font></p>
                        <p class="card-category"><strong><font size="3">직장인구 소비수준</font></strong> : <strong style="color:orangered;"><font size="5">{{M_score2}}</font></strong>점(5점) <font size="2">선택지역 직장인구 월 평균 소비규모</font></p>
                        <p class="card-category"><strong><font size="3">주거인구 소비수준</font></strong> : <strong style="color:orangered;"><font size="5">{{M_score3}}</font></strong>점(5점) <font size="2">선택지역 주거인구 월 평균소비규모</font></p>
                        <br/>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-5">
                        <br/>
                        <br/>
                        <div style="font-family: 'Helvetica Neue', Arial; font-size: 16px">
                        <h3>{{ chartTitle|safe }}</h3>
                        <div id="cchoi-1">{{ output9|safe }}</div>
                        <br/>
                        </div>
                        <br/>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <br/>
                        <br/>
                        <h5>안정성 <strong style="color:green;"><font size="6">{{score_sum}}</font></strong>점</h5>
                        <p class="card-category">(20점)</p>
                        </br>
                        <p class="card-category"><strong><font size="3">변동성</font></strong> : <strong style="color:orangered;"><font size="5">{{changed_grade}}</font></strong>점(10점) <font size="2">상권의 변동률</font></p>
                        <p class="card-category"><strong><font size="3">운영연수</font></strong> : <strong style="color:orangered;"><font size="5">{{operation_grade}}</font></strong>점(5점) <font size="2">해당지역 점포 평균 운영연수</font></p>
                        <p class="card-category"><strong><font size="3">휴/폐업률</font></strong> : <strong style="color:orangered;"><font size="5">{{closing_grade}}</font></strong>점(5점) <font size="2">휴/폐업 점포 비율</font></p>
                        <br/>
                    </div>
                </div>
            </div>
            <!-- Chart End -->


            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            &copy; <a href="#">집객력 : 유동인구는 {{J_score1}}, 배후주거인구는 {{J_score2}}, 배후 직장인구는 {{J_score3}}, 총합 : {{J_score5}}</a>구매력 : 상권매출규모는 {{M_score1}}, 직장인구 소비수준은 {{M_score2}}, 주거인구 소비수준은 {{M_score3}} 총합 : {{M_score5}}
                        </div>
                        <div class="col-12 col-sm-6 text-center text-sm-end">
                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="static/lib/chart/chart.min.js"></script>
    <script src="static/lib/easing/easing.min.js"></script>
    <script src="static/lib/waypoints/waypoints.min.js"></script>
    <script src="static/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="static/lib/tempusdominus/js/moment.min.js"></script>
    <script src="static/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="static/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="static/js/main.js"></script>
</body>

</html>